@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DepartureMono";
  src:
    url("/fonts/DepartureMono-Regular.woff2") format("woff2"),
    url("/fonts/DepartureMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  color-scheme: dark;
}

html,
body {
  font-family: "sans-serif";
  background-color: black;
  color: white;
  overflow: hidden;
}
